<div th:fragment="header">
  <!-- Header content -->
  <nav class="navbar sticky-top navbar-light navbar-expand-lg"> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="#">Adi Munawar</a></li>
        </ul>
    </div>
</nav>
</div>
